@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

*{
  font-family: 'Roboto', sans-serif;
}
body{
  -webkit-text-size-adjust: 100%
}
?{/*irui*/
  font-size:13.5px;
}
h2{/*title*/
  font-size:13.5px;
}
p{/*more before*/
  font-size:12px;  
}
