@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
var{
  --font-size:calc((100vw - 320px)/ 200 + .8rem);
}
*{
  font-family: 'Roboto', sans-serif;
  word-break: break-all;
}
body{
  -webkit-text-size-adjust: 100%;
  margin:0 auto;
  max-width:31rem;
  padding:calc(1.25*1rem);
  font-size:var(--font-size);
}
/*
@media (max-width: 767px){
  body{
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  body{
    width:975px
  }
}
@media (min-width: 1000px) {
  body{
    width:975px
  }
}
@media (min-width: 1200px) {
  body{
    width:975px
  }
}*/
?{/*irui*/
    border-bottom: var(--width-border) solid;
}
h2{/*title*/
  font-size:calc(var(--font-size) * 1.48);
}
p{/*more before*/
  font-size:12px;  
}
